:root {
  --mainBlue: #173f5f;
  --regBlue: #20639b;
  --regGreen: #3caea3;
  --regYellow: #f6d55c;
  --regRed: #ed553b;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.row {
  margin-bottom: 40px;
}

.contactBackground a,
.btn {
  background-color: var(--regYellow) !important;
  color: var(--mainBlue) !important;
  border-color: var(--regYellow) !important;
  margin: 5px !important;
}

h3 {
  padding: 2%;
  border-bottom: 7px solid var(--regBlue);
  color: var(--mainBlue);
}

.blueNav {
  background-color: var(--regBlue);
  color: whitesmoke;
  font-size: 125%;
  border-color: var(--regBlue);
}

.yellowNav {
  background-color: #f6d55c;
}
.openingBanner,
.contactBackground,
nav {
  background-color: var(--mainBlue) !important;
  color: whitesmoke !important;
  padding: 2% !important;
}

#headerImage {
  max-width: 60%;
  height: auto;
}
#aboutMe {
  margin-top: 50px;
}
.aboutMePhoto {
  margin: 0 30px;
  height: auto;
  padding-left: 40px;
}
.project-card {
  margin: 10px;
  min-height: 400px;
  width: 23rem;
}

.card-header {
  background: var(--regBlue) !important;
  color: whitesmoke !important;
}

.contactBackground {
  display: flex;
  flex: 1 1 0;
  max-width: 100%;
  padding: 5%;
}

footer {
  padding: 2%;
  font-size: 110%;
  background-color: var(--regBlue);
  color: whitesmoke;
}

@media screen and (max-width: 480px) {
  .repoProjectCard {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .resumeSection {
    flex-direction: column;
  }
  .resumePage {
    display: contents;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column !important;
  }
}
